.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.avatar_url{
height: 50px;
  width: 50px;
  border-radius: 50px;
}
.blogs_container{
  border: 1px solid green;
  border-radius: 15px;
}
.image_url{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.selected{
  border:2px solid rgb(88,6,109);
  background-color: rgb(205,171,211);

}
.heading{
  text-align: center;
}
.img{
  border-radius: 10px;
}
